/* Estilos para el grid de flipcards */
.flip-card {
  background-color: transparent;
  width: 100%;
  perspective: 1000px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;

  margin-top: 20px;
  margin-bottom: 20px;
}

.flip-card-back {
  background-color: black !important;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
  margin-bottom: 20px;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

/* Estilos para el grid de flipcards en dispositivos pequeños */
@media (max-width: 768px) {
  .col-md-2 {
    width: 100%;
  }
  .col-sm-4 {
    width: 100%;
  }
}
