.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  cursor: default;
  transition: opacity 0.5s ease-in-out;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s ease-in-out;
  }
}

.contaiprin {
  background: url("../images/bgprin.jpg");
  background-size: 100% 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.intro {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  text-decoration: none;
}
.centrado {
  align-items: center;
  text-align: center;
}
.intro h1 {
  font-size: 4em;
  margin-bottom: 0;
  margin-top: 2%;
  padding-bottom: 0;
}
.intro li {
  text-decoration: none;
  list-style-type: none;
}
.App-link {
  color: #61dafb;
}
.App-link {
  text-align: center;
}
.navcomp {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
  overflow: hidden;
  background-color: #333;
}
.navele {
  float: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #3d1200b1 !important;
  color: #c2c2c2 !important;
  position: fixed !important;
  top: 0 !important;
}
.imgnav {
  height: 5vh !important;
  display: inline;
}
.txtwhite {
  color: #c2c2c2 !important;
}
